{% extends 'Control_operacionesApp/base.html' %}

{% block titulo %} Cliente {% endblock %}

{% load static %}
{% block body %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
{% for m in messages %}
<script>
  Swal.fire({
    "title": "{{m}} ",
    "icon": "success",
  })
</script>
{% endfor %}
{% endif %}


<h5 style="color: gray;text-align: center;">Listado de cliente</h5>
<button class="btn btn-info fw-bold " type="submit" style="margin: 4px;">
  <a class="nav-link active" href="{% url 'FormNuevo_Cliente' %}">Nuevo <i class="bi bi-person-plus-fill"></i></a>
</button>

  <div style="display: flex;float: right;margin: 10px; ">
    {% block buscador %} 
  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
    method="POST">
    {% csrf_token %}
    <div class="input-group">
      <input  type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="buscar" id="buscar">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
  </form>
  {% endblock buscador %}
</div>
<hr>
<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <table class="table table-border table-hover;" style="font-size: 14px;">
          <thead style="background-color:#1a3653; color: white;">
            <tr>
              <th scope="col">Nit</th>
              <th scope="col">Nombre Empresa</th>
              <th scope="col">Direccion</th>
              <th scope="col">Representante</th>
              <th scope="col">Telefono</th>
              <th scope="col">Fecha de Registro</th>
              <th scope="col"></th>
            
            </tr>
          </thead>
          <tbody id="usuarios" >
            {% for cliente in clientes %}
            <tr>
              <td>{{cliente.Nit_Empresa}}</td>
              <td>{{cliente.Nombre_Empresa}}</td>
              <td>{{cliente.Direccion}}</td>
              <td>{{cliente.Representante}}</td>
              <td>{{cliente.Telefono}}</td>
              <td>{{cliente.created | date:"d - m - Y"}}</td>
             
            
              <td><a href="{% url 'Form_Detalle_Edicion' cliente.Id %}" class="btn btn-secondary"><i
                    class="bi bi-pencil-square"></i></a>
              <a href="{% url 'Form_Detalle_EliminacionC' cliente.Id %}" class="btn btn-secondary"><i
                    class="bi bi-trash"></i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <script src='{% static "js/Usuarios.js" %}'> </script>
      </div>
    </div>
  </div>
{% endblock %}