{% extends 'Control_operacionesApp/base.html' %}

{% block titulo %} Editar Empleado {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">  
            <div class="shadow-lg p-3 mb-5 mt-4 bg-body rounded">
                <div class="p-3 mb-2 bg-info bg-gradient fw-bold text-white" style="text-align: center;">ACTUALIZAR CLIENTE</div>
                <hr>
                <form action="{% url 'Editar_Cliente' %}" method="POST" class="row g-2 needs-validation">
                    {% csrf_token %}
                
                        <input type="hidden" value="{{cliente.Id}}" name="Id" id="Id" class="form-control" >
                    
                    <div class="col-md-2">
                        <label for="txtIdentificacion" style="color: gray;">Nit Empresa</label>
                        <input type="number" name="txtNit_Empresa" value="{{cliente.Nit_Empresa}}" id="txtNit_Empresa" class="form-control" >
                    </div>
                   
                    <div class="col-md-3">
                        <label style="color: gray;">Nombre Empresa</label>
                        <input type="text" name="txtNombre_Empresa" value="{{cliente.Nombre_Empresa}}" id="txtNombre_Empresa" class="form-control" required>
                    </div>
                    <div class="col-md-3">
                        <label style="color: gray;">Direccion</label>
                        <input type="text" name="txtDireccion" value="{{cliente.Direccion}}"  id="txtDireccion" class="form-control" required>
                    </div>
                    <div class="col-md-3">
                        <label style="color: gray;">Representante</label>
                        <input type="text" name="txtRepresentante" value="{{cliente.Representante}}" id="txtRepresentante" class="form-control" required>
                    </div>
                   
                    <div class="col-md-2">
                        <label style="color: gray;">Telefono</label>
                        <input type="number" name="txtTelefono"  value="{{cliente.Telefono}}" id="txtTelefono" class="form-control" required>
                    </div>
                  
                    <div class="col-12">
                        <button class="btn btn-info fw-bold float-end" type="submit">ACTUALIZAR</button>
                    </div>
                
                </form>
                
            </div>
        </div>
    </div>
   
</div>

{% endblock %}