{% extends "Control_operacionesApp/base.html" %}

{% block titulo %} Eliminar proceso {% endblock %}

{% block body %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
{% for m in messages %}
<script>
    Swal.fire({
        "title":"{{m}} ",
        "icon":"success",
    })
    
</script>
{% endfor %}
{% endif %}

    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4" style="margin-left:auto; margin-right: auto;">   
        <div class="card" > 
            <div class="card-body" style="text-align: center;">
                <h5 style="background-color: crimson;font-size: 20px; color: azure;padding: 12px;">Estas seguro de eliminar el proceso ?</h5>
                <form  class="formservicio" action="{% url 'Eliminar_Proceso' proceso.Id %}" method="POST" >{% csrf_token %} 
                    <div class="form-group py-1">
                        <input type="hidden" name="Id" value="{{proceso.Id}}" id="Id" class="form-control" placeholder="Nombre" required>
                        
                    </div><br>
                    <div class="form-group py-1">
                        <input type="text" name="txtNombre" value="{{proceso.Nombre}}" id="txtNombre" class="form-control" required>
                    </div><br>
                    <div class="d-grid gap-2">
                        <button class="btn btn-info fw-bold float-end " type="submit">ELIMINAR</button>
                      </div>
                
                </form>
            </div>
        </div>
    </div>
{% endblock %}