{% extends "Control_operacionesApp/base.html" %}

{% block titulo %} Nuev Lote {% endblock %}

{% block body %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
{% for m in messages %}
<script>
    Swal.fire({
        "title": "{{m}} ",
        "icon": "success",
    })
</script>
{% endfor %}
{% endif %}
<div class="container">
    <div class="row">
        <div class="col">  
            <div class="shadow-lg p-3 mb-5 mt-4 bg-body rounded">
                 <div class="p-3 mb-2 bg-info bg-gradient fw-bold text-white" style="text-align: center;">REGISTRAR NUEVO LOTE</div>
                <form action="{% url 'Nuevo-Lote' %}" method="POST"class="row g-2 needs-validation" novalidate >
                    {% csrf_token %}
                   
                    <div class="col-md-3">
                        <label for="txtReferencia" style="color: gray;">Cliente</label>
                        <select type="text" name="txtCliente" id="txtCliente" class="form-control"  required>
                            <option selected disabled value="">Seleccione...</option>
                            {% for cliente in clientes %}
                            <option value="{{cliente.Id}}">{{cliente.Nombre_Empresa}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="txtReferencia" style="color: gray;">Referencia</label>
                        <input type="text" name="txtReferencia" id="txtReferencia" class="form-control"  required>
                    </div>
                    <div class="col-md-3">
                        <label for="txtNombre" style="color: gray;">Descripcion</label>
                        <input type="text" name="txtDescripcion" id="txtDescripcion" class="form-control" >
                    </div><br>
                
                    <div class="col-md-3">
                        <label for="txtCantidad_Resgistrada" style="color: gray;">Cantidad de prendas</label>
                        <input type="text" name="txtCantidad_Resgistrada" id="txtCantidad_Resgistrada" class="form-control" required>
                    </div>
           
                    <div class="col-md-2">
                        <label for="txtPrecio" style="color: gray;">Fecha de Ingreso</label>
                        <input type="date" name="txtFechaIngreso" id="txtFechaIngreso" class="form-control" required>
                    </div>
                    <div class="col-md-2">
                        <label for="txtPrecio" style="color: gray;">Fecha de Salida</label>
                        <input type="date" name="txtFechaSalida" id="txtFechaSalida" class="form-control" required>
                    </div>
                    <div class="col-md-2">
                        <label for="txtPrecio" style="color: gray;">Fecha Real de Entrega</label>
                        <input type="date" name="txtFechaEntregado" id="txtFechaEntregado" class="form-control" required placeholder="">
                    </div>

                    <div class="col-12">
                        <button class="btn btn-info fw-bold float-end" type="submit">REGISTRAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}